<div id="toolbar">

    <div id="toolbar-title">

        <div *ngIf="getCurrentUrl() == '/'">
            Estatísticas e Informações
        </div>
        <div *ngIf="getCurrentUrl() == '/home'">
            Estatísticas e Informações
        </div>
        <div *ngIf="getCurrentUrl() == '/register-patient'">
            Cadastrar Paciente
        </div>
        <div *ngIf="getCurrentUrl() == '/register-consultation'">
            Cadastrar Consulta
        </div>
        <div *ngIf="getCurrentUrl() == '/register-exam'">
            Cadastrar Exame
        </div>
        <div *ngIf="getCurrentUrl() == '/medical-records'">
            Listagem de Prontuário
        </div>
        <div *ngIf="getCurrentUrl().includes('/medical-records/')">
            Prontuário de Paciente
        </div>
    </div>
    <div id="toolbar-user">
        <div id="toolbar-name">{{loggedUserName}}</div>
        <div id="toolbar-avatar"><img src="../../../../assets/images/portrait-avatar.png"></div>
    </div>

</div>