<div id="login-page">

    <div id="login-container">
        <div id="login-side-image">
            <a href="https://www.freepik.com/free-photo/medium-shot-woman-working-as-doctor_41695723.htm">Imagem:
                Freepik</a>
        </div>

        <div id="login-area">
            <div class="login-header">
                <img class="login-logo" src="../../../assets/images/logo-LABMedical.svg" alt="Marca do LABMedical"/>
            </div>
            <!-- <form id="login-form" (ngSubmit)="login()" [formGroup]="loginInfo"> -->
            <form id="login-form">
                <h1>Login</h1>
                <div id="login-inputs">
                    <label for="user-email">E-mail:</label>
                    <input id="user-email" name="user-email" type="text" formControlName="userEmail" />
                    <label for="user-password">Senha:</label>
                    <input id="user-password" name="user-password" type="password" formControlName="userPassword" />
                </div>

                <a>Esqueceu a senha?</a>

                <div class="login-button">
                    <button type="submit">Entrar</button>
                </div>

            </form>
            <div id="login-signup-link">
                <p>Não tem conta?</p>
                <a>Cadastre-se.</a>
            </div>
            <div id="login-footer">
                <img class="login-logo" src="../../../assets/images/logo-LAB365.svg" alt="Marca do LABM365"/>
            </div>



        </div>
    </div>

</div>