<div id="sidemenu">
    <div id="logo-container"><img src="../../../../assets/images/logo-sidemenu.png"></div>
    <div id="nav-container">
        <nav>
            <div class="nav-item">
                <div class="nav-icon">ICON</div>
                <div class="nav-text">Início</div>
            </div>
            <div class="nav-item">
                <div class="nav-icon">ICON</div>
                <div class="nav-text">Listar prontuário</div>
            </div>
            <div class="nav-item">
                <div class="nav-icon">ICON</div>
                <div class="nav-text">Cadastrar paciente</div>
            </div>
            <div class="nav-item">
                <div class="nav-icon">ICON</div>
                <div class="nav-text">Cadastrar consulta</div>
            </div>
            <div class="nav-item">
                <div class="nav-icon">ICON</div>
                <div class="nav-text">Cadastrar exame</div>
            </div>
            <div class="nav-item" (click)="logout()">
                <div class="nav-icon">ICON</div>
                <div class="nav-text">Sair</div>
            </div>
        </nav>
    </div>
</div>