
@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-left {
    display: flex;
    flex-direction: column;
    align-items: left;
}