$mainColor: #219EBC; // Blue Green muito bom tb
$secondColor: #E29578;
$thirdColor: #6B9080;

// $mainColor: #3A86FF; // Azure
// $mainColor: #E29578; // atomic tangerine
// $mainColor: #6B9080; // viridian

$inputFocusBorder: #219EBC;

$buttonColor: #219EBC;
$buttonHover: #f97082;
$buttonActive: #f7833f;

$linkColor: #f97082;
$linkHover: #f73f57;
$linkActive: #f7833f;

$errorRed: #ff385e;

$dangerButton: #ff3333;

$softBlack: #495057;