
$inputFocusBorder: #fba1ad;

$buttonColor: #fba1ad;
$buttonHover: #f97082;
$buttonActive: #f7833f;

$linkColor: #f97082;
$linkHover: #f73f57;
$linkActive: #f7833f;

$errorRed: #ff385e;

$sidemenuBg: #fba1ad;