$pageBackground: #efefef;

$mainColor: #219EBC;
$secondColor: #3A86FF;
$thirdColor: #B3E4ED;

$inputFocusBorder: #219EBC;

$buttonColor: #0d87f3;
$buttonHover: #2A9DF4;
$buttonActive: #0B75D1;

$linkColor: #219EBC;
$linkHover: #2A9DF4;
$linkActive: #1D8297;

$errorRed: #ff385e;
$dangerButton: #ff385e;

$softBlack: #495057;